@model MediconEFC.Models.PrecoPlano

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PrecoPlano</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FaixaEtaria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaixaEtaria.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoAcomodacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoAcomodacao.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbrangenciaPlano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbrangenciaPlano.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoContrato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoContrato.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoPlano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoPlano.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
