@model IEnumerable<MediconEFC.Models.Proposta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProsposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataProposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corretor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoPlano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dependente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProsposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataProposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plano.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Corretor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoPlano.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dependente.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
